#listen {
  cursor: pointer;

  font-size: 12px;
  text-transform: uppercase;

  color: $brand-color;
  background-color: transparent;

  padding: 4px;

  border: 1px solid $brand-color;
  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;

    opacity: 0.3;
  }
}

.footnotes {
  font-size: 12px;
  color: $brand-color;

  margin-top: 30px;
  padding-top: 10px;
  border-top: 2px solid $border-color-01;
}

@media print {
  .site-header,
  .site-footer,
  .reversefootnote,
  #listen {
    display: none;
  }
}

@media screen {
  p:has(mjx-container) {
    overflow-x: auto;
    overflow-y: hidden;

    mjx-container {
      display: inline-block;
    }
  }
}
