---
layout: base
---
<article class="post">

  <button id="listen">
    &#x1F3A7 Ascolta
  </button>

  <div class="post-content">
    {{ content }}
  </div>

  <a href="{{site.github.repository_url}}/edit/main/{{page.path}}" target="_blank" class="edit-page">
    &#9998; Modifica questa pagina
  </a>

</article>

<script>
  const synth = window.speechSynthesis;

  const listenButton = document.getElementById("listen");
  const utteranceContent = document.querySelector(".post-content").innerText;

  if (synth === undefined) {
    listenButton.disabled = true;
  }

  const utterance = new SpeechSynthesisUtterance(utteranceContent);

  listenButton.addEventListener("click", () => {
    synth.speak(utterance);
  })
</script>
